.section-advantages {
    background: $dark-blue;
    height: 100vh;
    position: relative;
    border-top: 1px solid black;
    overflow: hidden;
    @include media('>=LGdesktop') {
        height: 100vh;
    }
    @include media('<=tablet') {
        padding-bottom: 115%;
        height: 100vh;
    }
    @include media('>=advant', '<=mpt') {
        height: 100vh;
        padding-bottom: 145%;
    }
    @include media('>=phone', '<=advant') {
        height: 100vh;
        padding-bottom: 170%;
    }
    @include media('<=phone') {
        height: 100vh;
        padding-bottom: 450%;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        @include media('>=LGdesktop') {
            height: 65vh;
        }
        @include media('<=tablet') {
            height: 100vh;
            padding-bottom: 115%;
        }
        @include media('>=advant', '<=mpt') {
            height: 100vh;
            padding-bottom: 150%;
        }
        @include media('>=phone', '<=advant') {
            height: 100vh;
            padding-bottom: 175%;
        }
        @include media('<=phone') {
            height: 100vh;
        }
        &__title {
            margin-top: 25px;
            h1 {
                display: inline;
                color: $white;
                font-family: $montserrat;
                font-size: 35px;
                @include media('<=phone') {
                    font-size: 28px;
                }
            }
        }
        &__cards {
            display: grid;
            grid-template-rows: repeat(2, 300px);
            grid-template-columns: repeat(3, 1fr);
            margin-top: 40px;
            @include media('<=desktop') {
                display: grid;
                grid-template-rows: repeat(2, 250px);
            }
            @include media('<=tablet') {
                display: grid;
                grid-template-rows: repeat(2, 250px);
                grid-template-columns: repeat(2, 1fr);
                margin-right: 50px;
                margin-top: 20px;
            }
            @include media('>=phone', '<=mpt') {
                display: grid;
                grid-template-rows: repeat(2, 250px);
                grid-template-columns: repeat(2, 1fr);
                margin-right: 50px;
                margin-top: 10px;
            }
            @include media('<=phone') {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0px;
            }
            .card {
                width: 250px;
                height: 230px;
                background: #122c74;
                box-sizing: border-box;
                box-shadow: 0px 6px 6px 3px rgba(0, 0, 0, 0.25);
                border-radius: 11px;
                margin-left: 50px;
                position: relative;
                z-index: 1000;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0;
                margin-bottom: 0;
                @include media('>=LGdesktop') {
                    width: 300px;
                    height: 280px;
                }
                @include media('<=tablet') {
                    margin-top: 20px;
                }
                @include media('>=phone', '<=mpt') {
                    width: 220px;
                    height: 200px;
                    margin-top: 0;
                }
                @include media('<=phone') {
                    width: 250px;
                    height: 230px;
                }
                &-text {
                    width: 85%;
                    @include media('>=LGdesktop') {
                        width: 100%;
                    }
                    @include media('<=tablet') {
                        width: 100%;
                    }
                    @include media('>=phone', '<=mpt') {
                        width: 90%;
                    }
                    @include media('<=phone') {
                        width: 100%;
                    }
                    h1 {
                        font-family: 'Source Code Pro';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 25px;
                        line-height: 43px;
                        text-align: center;
                        color: #fff;
                        @include media('>=LGdesktop') {
                            font-size: 28px;
                        }
                        @include media('<=tablet') {
                            font-size: 23px;
                        }
                        @include media('>=phone', '<=mpt') {
                            font-size: 21px;
                        }
                        @include media('<=phone') {
                            font-size: 23px;
                            margin-left: 0;
                        }
                    }
                }
            }
            .card::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: #122c74;
                border: 1px solid #121111;
                width: 101%;
                height: 100%;
                border-radius: 5px;
                z-index: -1;
            }
            .card::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 2px;
                background-color: #EDF112;
                width: 99%;
                height: 100%;
                border-radius: 5px;
                z-index: -1;
                margin-left: 1px;
            }
        }
        .wave {
            position: absolute;
            bottom: 0;
        }
    }
}