$dark-blue: #122c74;
$green: #258a5b;
$white: #f8f8f8;
$gradient-blue: linear-gradient(90deg, #1e475f 0%, #2B32B2 100%);
$yellow: #EDF112;
$swampy: #086972;
$purple: #4C0C66;
$dark-gray: #7E7171;
